#headerBlock {
    background: black;
    text-align: center;
}
body {
    margin: 0%;
    padding: 0%;
}
#headerBlock a {
     color: white;
  /*   text-decoration: overline;
    text-decoration: line-through;
    text-decoration: underline; */
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

/* font-weight: lighter;
font-weight: normal;
font-weight: 100;
font-weight: 600;
 */
}
#headerBlock li {
display: inline-block;

}

.leftBlock {

    width: 30%;
    
    float: left;
  /*   float: right;
    float: none; */
}
.rightBlock {

    width: 60%;
    float: right;
    padding: 50px;
}
#contentBlock{

    height: 370px;
}
#boxModel{
background: yellow;
padding: 50px;
margin: 50px;
border: 10px solid red;
}

section>div>figure>img {

    border-radius: 100px;
}

.leftBlock img {
    border-radius: 100%;
}
.leftBlock img:hover {

    border: 10px solid black;
    /* transform: rotate(360deg); 
     transform: skew(70deg);  */
    transform: scale(4);
    transition: ease-in all 8s;
}
#contentBlock {

    margin: 50px;
}
.rightBlock h1 {

    font-size: 60px;
}
.rightBlock h1 .hi {
    font-weight: lighter;
    padding-right: 20px;
}
.rightBlock h1 .doe {
    font-weight: bold;
}
.rightBlock button {
    background: skyblue;
    padding: 30px 100px;
    color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    font-size: 25px;
}